<?php
 
$serverName = "{{ mysql_host }}";
$dbUser     = "{{ db_user }}";
$dbPassword = "{{ db_password }}";
$dbName     = "{{ db_name }}";
$envName    = "{{ env_name }}";
 
$dbConnection = new mysqli($serverName, $dbUser, $dbPassword, $dbName);

if ($dbConnection->connect_error) {
    echo "<h1>DEPLOY SUCCESSFUL BUT...</h1>";
    echo "<p>The connection with MySQL has failed. Error with network or credentials.</p>";
    die("Error: " . $dbConnection->connect_error);
}

 
echo "<h1>Welcome to KapsuleKorp!</h1>";
echo "<h3>Infrastructure as Code - Deployment PHP-LEMP successful!</h3>";
echo "<p>Environment: <strong>$envName</strong></p>";
 
$result = $dbConnection->query("SELECT VERSION()");
$row = $result->fetch_row();
echo "<p>MySQL version: " . $row[0] . "</p>";

$dbConnection->close();
?>
