- name: Create the database of the application
  mysql_db:
    name: "{{ db_name }}"
    state: present

- name: Create the user of the database
  mysql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    priv: "{{ db_name }}.*:ALL"
    state: present
